depend
*.o
*.mod
*__genmod.f90
*.a
*.so
*.log
*.status
*.cfg
Makefile.in
Makefile
ChangeLog
Config.mk
gt5frt/gt5frt
gt5frt/gt5config
TAGS
# test suite
test/dc_args_test
test/dc_calendar_test
test/dc_clock_test
test/dc_clock_test.tmp
test/dc_date_test
test/dc_hash_test
test/dc_iounit_test
test/dc_scaledsec_test
test/dc_string_test
test/dc_test_test
test/dc_url_test
test/histauto
test/histauto2
test/histaxis
test/histcopy
test/histget
test/histgetattr
test/histinquire
test/histnmlinfo
test/histtest
test/tmp_dc_iounit_test/
test/xhistgetattr/
test/xhistinquire1.nc
test/*.cdl
test/*.trs
# doc
doc/code_reference/
doc/develop_reference/
*.htm
*.htm.en
conf_*
.rbenv*
# submodule
m4
old
